.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -1;
    border: 0;
  }
header{
    height: 70px;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    transition: 1s all ease;
    z-index: 1;
}
header.on{
    background: #fff;
    color: black;
    border-bottom: 1px solid #0000002d;
}
header:hover,header.on:hover{
    background: #fff;
    height: 300px;
    color: black;
}
header>article{
    margin: 0 auto;
    width: 1035px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    display: flex;
    align-items: center;
}
.logo img{
    width: 34px;
    height: 50px;
    margin-right: 15px;
}
.logo span{
    font-family:'Istok We';
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}
.gnb{
    width: 660px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gnb>li{
    font-family: 'Noto Sans KR';
    font-size: 25px;
    font-weight: 500;
    position: relative;
    width: 130px;
}
.gnb>li>ul{
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top:50px
}
.gnb>li>ul>li{
    margin: 20px 0 0;
}
.gnb>li>ul>li a{
    display: block;
    width: 100%;
}
.gnb>li>ul>li:hover{color: #00A25B;}
section{height: 1000px;}
section>article{
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}
.banner{
    width: 100vw;
    height: 1200px;
    position: relative;
    background: url(../img/mainback.png) no-repeat 0 0/cover ;
}
.banner article{
    height: 1200px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
}
.b_writing1{
    width: 500px;
    height: 35px;
    position: absolute;
    left:5%;    
    top:40%;
    border-top: 10px solid #00A25B;
    border-right: 10px solid #00A25B;
}
.b_writing2{
    width: 25px;
    height: 145px;
    position: absolute;
    left:5%;    
    top:40%;
    border-left: 10px solid #00A25B;
    border-bottom: 10px solid #00A25B;
}
.b_writing1 p{ 
    width: 550px;
    position: absolute;
    top:50%;
    font-size: 60px;
    font-weight: 500;
    color: #FFF;
    letter-spacing: -1.2px;
    line-height: normal;
    transform: translate(8%,8%);
}
.introduce{
    height: 1000px;
    font-family: Inter;
    font-size: 25px;
    letter-spacing: -0.5px;
    font-weight: 400;
}
.int_box{
    padding: 125px 160px;
}
.int_box h3{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 50px;
    letter-spacing: -1.2px;
}
.int_box>p{
    width: 654px;
    height: 60px;
    margin-bottom: 60px;
}
.int_box ul{
    width: 1120px;
    display: flex;
    justify-content: center ;
}
.int_box ul>li{
    margin-right: 62px;
}
.int_box ul>li:last-of-type{
    margin-right: 0;
}
.circle div a{
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background: #00A25B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    box-sizing: border-box;
    transition: 0.5s background-color ease;
}
.circle>a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle:hover>a{
    color: #00A25B;
    font-weight: 500;
}
.circle:hover div a{
    background: #FFF;
    border: 1px solid #00A25B;
}

.new_family{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 35px 160px; 

}
.new_f_box{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -0.5px;
    margin-bottom: 60px;
}
.n_f_left h4{
    font-size: 45px;
    font-weight: 400;
    letter-spacing: -0.9px;
    margin-bottom: 15px;
}

.n_f_right{
    display: flex;
    width: 252px;
    height: 65px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background: #00A25B;
    color: #FFF;
    transition: 0.5s all ease;
    box-sizing: border-box;
}
.n_f_right:hover{
    color: #00A25B;
    border: #00A25B 2px solid;
    background: #fff;
}
.new_f_icon{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new_f_icon li{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.new_f_icon li p{
    margin-top: 20px;
}
.w_content{
    padding: 125px 70px;
    font-family: Inter;
}
.w_content h2{
    width: 260px;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -1.2px;
    border-bottom: 5px solid #00A25B;
    padding-bottom: 5px;
    margin:0 auto 140px;
}
.w_content p{
    text-align: right;
    margin-bottom: 20px;
}
.w_content p a{
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 2px solid #00A25B;
}
.w_c_box{
    display: flex;
    justify-content: space-between;
}
.w_c_box img{
    width: 100%;
    height: 340px;
    font-size: 0;
    line-height: 0;
}
.w_c_box>div{
    width: 600px;
    height: 500px;
    border: 1px solid black;
    box-sizing: border-box;
    line-height: 0;
}
.w_c_title{
    line-height: normal;
    width: 100%;
    height: 160px;
    box-sizing: border-box;
    display: flex;
    padding: 24px 45px;
    justify-content: space-between;
}
.w_c_title>span{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.title_info{
    display: flex;
    flex-flow: row wrap;
}
.title_info span{
    font-family: Inter;
    
    display: flex;
    align-items: center;
    
}
.title_info span:nth-of-type(1)::after,
.title_info span:nth-of-type(4)::after{
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 1px;
    border-right: 1px solid black;
    margin: 5px;
}
.title_info span:nth-of-type(1),
.title_info span:nth-of-type(4){
    font-size: 23px;
    letter-spacing: -0.46px;
    font-weight: 500;
    line-height: 25px;
}
.title_info span:nth-of-type(2),
.title_info span:nth-of-type(5){
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.36px;
    line-height: 25px;
}
.title_info span:nth-of-type(3){
    width: 100%;
    font-size: 30px;
    letter-spacing: -0.6px;
    font-weight: 400;
}
.news>article{
    padding: 105px 95px; 
}
.news h2{
    width: 236px;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -1.2px;
    border-bottom: 5px solid #00A25B;
    padding-bottom: 5px;
    margin:0 auto 80px
}
.news_content_box{
    font-family: Inter;
    display: flex;
    justify-content: space-between;
}
.news_content ul{
    width: 460px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.6px;
}
.news_content ul a{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.36px;
    border-bottom: 1px solid black;
    padding-bottom: 7px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.news_content ul li:first-child{margin-top:30px;}
.notice{margin-top: 60px;}
.photo{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.photo>span{
    font-size: 30px;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;   
}
.photo ul{
    font-size: 0;
    display: flex;
    flex-flow: row wrap;
    width: 706px;
    height: 587px;
    justify-content: space-between;
    align-content:space-between ;
}
.etc{
    height: 100%;
    width: 100vw;
    background: #2C3D51;   
}
.pray{
    width: 1440px;
    height:800px;
    margin: 0 auto;
    padding: 140px 120px;
    box-sizing: border-box;
    background: url(../img/unnamed.png) no-repeat left bottom 
}
.pray h3{
    width: 90px;
    color: #FFF;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: -1.2px;
    border-bottom: 5px solid #00A25B;
    padding-bottom: 5px;
    margin:0 auto 140px;
}
.P_C_box{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 0;
}
.P_C_box img{
    width: 250px;
    height: 180px;
    border-radius: 20px 20px 0px 0px;
}
.P_C_box p{
    background: #FFF;
    width: 250px;
    height: 70px;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -0.5px;
}
.consulting{
    width: 100vw;
    background: #fff;
    color: black;
}
.c_content_box{
    margin: 0 auto;
    width: 1440px;
    padding: 100px 122px;
    box-sizing: border-box;
}
.consulting h3{
    display: inline-block;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: -1.2px;
    border-bottom: 5px solid #00A25B;
    padding-bottom: 5px;
}
.c_content_box>p{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.6px;
    margin: 35px 0 60px;
}
.c_content_box>div{
    justify-content: space-between;
    display: flex;
}
.c_content_box>div a{
    width: 315px;
    height: 70px;
    color: #FFF;
    background: #00A25B;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    width: 100vw;
    height: 200px;
    background: #3A4149;
}
footer>div{
    border:1px solid red;
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
