@media all and (max-width:479px) {   
    header{height: 70px;} 
    header>article{ 
        width: 100%;    
        justify-content: space-between;
        padding: 0px 20px;
        box-sizing: border-box;
    }
    header:hover{
        height: 70px;
        color: white;
        background: none;
    }
    header.on:hover{
        height: 70px;
        color: black;
        background: white;
    }
    .gnb{        display: none;    }

    .logo{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .logo span{font-size: 22px;}

    header.active .gnb{
        top:0;
        left: 0;
        display: flex;
        flex-flow: column;
        position:fixed;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: white;
        overflow: auto;
        justify-content: center;
        align-items: center;
        color: black;
    }
    .gnb>li{
        position: relative;
        font-size: 28px;
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: 1s height ease 0s;
        height: 55px;
    }
    .gnb>li>a{
        padding: 10px 0;
        height: 100%;
    }
    .gnb>li>ul{
        font-size: 20px;
    }
    .menu{
        display: block;
    }
    header.active .gnb>li.on{
        height: 290px;
    }
    header.active .gnb>li>ul{
        margin-top: 10px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    header .menu span{
        width: 40px;
        height: 40px;
        border: none;
    }
    header .menu span:nth-of-type(1){
        background: url(../img/hamburger.svg)
        no-repeat center/cover;
        filter: invert(100%);
        display: block;
    }
    header.on .menu span:nth-of-type(1){
        filter: invert(0%);
    }
    header.active .menu span:nth-of-type(1){display: none;}
    header .menu span:nth-of-type(2){display: none;}
    header.active .menu span:nth-of-type(2){
        background: url(../img/close.svg)no-repeat center/cover;
        position: absolute;
        right: 20px;
        top:20px;
        z-index: 10;
        display: block;
    }
    section>article{width: 280px;}
    .banner{
        width: 100%;
        height: 600px;
        background-size: cover;
    }
    .banner article{height:600px;}
    .b_writing1{
        width: 210px;
        height: 60px;
        position: relative;
        left:5%;    
        top:40%;
        border-top: 10px solid #00A25B;
        border-left: 10px solid #00A25B;
    }
    .b_writing1::before{
        content: "";
        width: 15px;
        display: block;
        height: 10px;
        background: #00A25B;
        position: absolute;
        bottom: 0;
    }
    .b_writing1::after{
        width: 10px;
        height: 15px;
    }
    .b_writing1 p{
        width: 225px;
        left: 22px;
        font-size: 25px;
        transform: translate(0%,-25%);
    }
    .introduce{height: 100%;}
    .int_box{
        height: 700px;
        padding: 60px 0;
        width: 280px;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    .int_box h3{
        text-align: center;
        font-size: 25px;
        margin: 0 auto;
    }
    .int_box>p{
        width: 260px;
        font-size: 20px;
        flex: none;
        text-align: center;
        margin:0 auto;
        line-height: normal;
    }
    .int_box ul{
        width: 260px;
        font-size: 18px;
        flex-flow: row wrap;
        margin: 0 auto;
    }
    .int_box ul>li{margin: 10px;}
    .int_box ul>li:last-of-type{margin-right: 10px;}
    .circle div a{
        width: 100px;
        height: 100px;
    }
    .circle div a img{
        width: 45%;
    }
    .new_family{
        width: 260px;
        margin: 0 auto;
        padding:30px 0;
        height: 600px;
        justify-content: space-around;
    }
    .n_f_text h4{font-size: 25px;
    margin: 0;}
    .n_f_text span{
        display: inline-block;
        margin: 20px auto;
    }

    .new_f_box{
        font-size: 18px;
        flex-flow: column;
        text-align: center;
        justify-content: space-around;
        margin: 0;
    }
    .n_f_join{
        margin: 0 auto;
        width: 200px;
        height: 45px;
    }
    .new_f_icon{
        position: relative;
        flex-flow: row wrap;
        justify-content:space-between;
        font-size: 15px;
        width: 250px;
        height: 300px;
        margin: 0 auto;
    }
    .new_f_icon li:nth-of-type(2n){
        width: 20px;
    }
    .new_f_icon li:nth-of-type(4){
        position: absolute;
        height: 20px;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
    }
    .new_f_icon li:nth-of-type(4) img{
        transform: rotate(145deg);
    }
    .new_f_icon li {
        width: 100px;
        height: 120px;
    }
    .worship{height: 550px;}
    .w_content{
        width: 260px;
        height: 550px;
        justify-content: space-around;
        padding:60px 0 ;
    }
    .w_content h2{
        margin-bottom: 40px;
        font-size: 30px;
    }
    .w_c_title>span{font-size: 13px;}
    .w_c_box{justify-content: center;}
    .w_c_box>div:first-of-type{display: none;}
    .w_c_box>div{
        width: 260px;
        height: 300px;
    }
    .w_c_box img{
        height: 180px;
    }
    .w_c_title{
        flex-flow: column;
        height: 120px;
        padding:15px 20px;
    }
    .title_info span:nth-of-type(1),
    .title_info span:nth-of-type(4){
        font-size: 15px;
    }
    .title_info span:nth-of-type(1)::after,
    .title_info span:nth-of-type(4)::after{
        height: 16px;
    }
    .title_info span:nth-of-type(2),
    .title_info span:nth-of-type(5){
        font-size: 13px;
    }
    .title_info span:nth-of-type(3){
        font-size: 20px;
    }
    .news{height: 100%;}
    .news>article{
        width: 260px;
        padding: 80px 0;
        height: 2000px;
    }
    .news h2{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .news_content_box{
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }
    .notice{
        text-align: center;
        align-items: center;
        width: 260px;
        height: 550px;
        font-size: 25px;
    }
    .notice li ul{        font-size: 15px;    }
    .notice a>span{        width: 180px;    }
    .photo{
        align-items: center;
    }
    .photo>span{font-size: 25px;}
    .photo ul{
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        width: 260px;
        height: 1000px;
    }
    .photo a{
        width: 230px;
        height: 230px;
    }
    .etc{width: 100%;}
    .pray{
        width: 280px;
        padding: 60px 0;
        height: 500px;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }
    .pray h3{
        font-size: 20px;
        margin-bottom: 40px;
    }
    .P_C_box{ 
        width: 260px;
        height: 260px;
        flex-flow:row wrap ;
        align-content: space-around;
        justify-content: space-around
    }
    .P_C_box a{
        width: 120px;
        height: 120px;
    }
    .P_C_box img{
        width: 120px;
        height:80px;
    }
    .P_C_box p{
        width: 120px;
        height: 40px;
        font-size: 15px;
    }

    .consulting {
        width: 100%;
        height: 100%;
    }
    .consulting h3{
        text-align: center;
        font-size: 20px;
    }
    .c_content_box{  
        width: 260px;  
        height:450px;  
        padding: 40px 0;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }
    .c_content_box>p{
        margin: 0;
        font-size: 15px;
        text-align: center;
    }
    .c_content_box>div{
        height: 200px;
        flex-flow: column;
        align-items: center;
    }
    .c_content_box>div a{
        width: 160px;
        height: 40px;
        font-size: 15px;
    }

    footer{width: 100%;}
    footer>div{width: 260px;}

}
@supports (-webkit-appearance:none) {
	/* 이 안에 Safari(10.1 이상)에서만 적용할 스타일 작성 */
    .b_writing1 p{
        width: 200px;
        left: 22px;
        font-size: 25px;
        transform: translate(0%,-25%);
    }
}