.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -1;
    border: 0;
    clip-path: polygon(0 0, 0 0, 0 0);
  }
.wrap{
    font-family: 'Pretendard';
}
/* 헤더 */
header{
    height: 90px;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    color: black;
    overflow: hidden;
    box-sizing: border-box;
    transition: 1s all ease;
    z-index: 3;
}
header>div{
    margin: 0 auto;
    width: 1035px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header.active   ,header:hover,header.on:hover{
    background: #fff;
    height: 300px;
    color: black;
}

header.active.on{
    background: #fff;
    color: black;
    border-bottom: 1px solid #0000002d;
}
header.active{
    height: 70px;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    color: #fff;
    background: none;
    overflow: hidden;
    box-sizing: border-box;
    transition: 1s all ease;
    z-index: 3;
}
/* 헤더로고 */
.logo a{
    display: flex;
    align-items: center;
}
.logo img{
    width: 34px;
    height: 50px;
    margin-right: 15px;
}
.logo span{
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}
/* 헤더로고 끝 */
/* 메인메뉴 */
.gnb{
    width: 660px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gnb>li{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    width: 130px;
}
.gnb>li:hover>a{color: #00A25B;}
.gnb>li>ul{
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top:50px
}
.gnb>li>ul>li{margin: 20px 0 0;}
.gnb>li>ul>li:hover{color: #00A25B;}
.gnb>li>ul>li a{
    display: block;
    width: 100%;
}
.menu{
    display: none;
    cursor: pointer;
}
/* 메인메뉴 끝 */
/* 헤더끝 */

section{height: 1000px;}
section>article{
    width: 1420px;
    margin: 0 auto;
    box-sizing: border-box;
}
/* 배너시작 */
.banner{
    width: 100%;
    height: 1200px;
    position: relative;
    background: url(../img/mainback.png) no-repeat 0 0/cover ;
}
.banner article{
    position: absolute;
    top:50%;
    left: 35%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 550px;
}
/* 배너필터처리 */
.banner::after{
    content: "";
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: block;
}
/* 배너 글꾸미기 */
.b_writing1{
    width: 455px;
    height: 145px;
    position: relative;
    left:5%;    
    top:40%;
    border-top: 10px solid #00A25B;
    border-left: 10px solid #00A25B;
}
.b_writing1::before{
    content: "";
    width: 40px;
    display: block;
    height: 10px;
    background: #00A25B;
    position: absolute;
    bottom: 0;
}
.b_writing1::after{
    content: "";
    display: block;
    width: 10px;
    height: 40px;
    position: absolute;
    right: 0;
    background: #00A25B;
}
.b_writing1 p{
    width: 482px;
    position: absolute;
    top:50%;
    font-size: 60px;
    font-weight: 500;
    color: #FFF;
    line-height: normal;
    transform: translate(10%,-25%);
}
/*배너 글꾸미기 끝 */
/* 소개페이지 */
/* 소개텍스트 */
.introduce{
    height: 1000px;
    font-size: 25px;
    letter-spacing: -0.5px;
    font-weight: 400;
}
.int_box{
    padding: 125px 160px;
    opacity: 1;
}
.int_box h3{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 50px;
    letter-spacing: -1.2px;
}
.int_box>p{
    width: 500px;
    margin-bottom: 60px;
}
/* 간편메뉴 */
.int_box ul{
    display: flex;
    justify-content: center ;
}
.int_box ul li{    height: 100%;}
.int_box ul>li+li{
    margin-left: 50px;
}
.circle>a::before{
    cursor: pointer;
    content: "";
    width: 134px;
    height: 134px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    box-sizing: border-box;
    transition: 0.5s background-color ease;
}
.circle a::after{
    top:0;
    position: absolute;
    content: "";
    width: 134px;
    height: 134px;
    background: #00A25B;
    z-index: -1;
    border-radius: 50%;
    border: 1px solid #00A25B;
}

.circle a:hover::after{
    background: #FFF;
}
.circle>a{
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.circle:hover>a{
    color: #00A25B;
    font-weight: 500;
}
ul li.circle:first-of-type>a::before{background: url(../img/교회방문아이콘.png) no-repeat center;}
ul li.circle:nth-of-type(2)>a::before{background: url(../img/주보아이콘.png) no-repeat center;}
ul li.circle:nth-of-type(3)>a::before{background: url(../img/큐티아이콘.png) no-repeat center;}
ul li.circle:nth-of-type(4)>a::before{background: url(../img/예배안내아이콘.png) no-repeat center;}
ul li.circle:nth-of-type(5)>a::before{background: url(../img/교회소식아이콘.png) no-repeat center;}
ul li.circle:last-of-type>a::before{background: url(../img/문의하기아이콘.png) no-repeat center;}

/* 간편메뉴 끝 */
/* 소개텍스트 끝 */
/* 새가족등록 */
.new_family{
    opacity: 1;
    display: flex;
    flex-flow: column;
    padding: 35px 160px; 
}
.new_f_box{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -0.5px;
    margin-bottom: 60px;
}
.n_f_text h4{
    font-size: 45px;
    font-weight: 400;
    letter-spacing: -0.9px;
    margin-bottom: 15px;
}
.n_f_join{
    display: flex;
    width: 252px;
    height: 65px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background: #00A25B;
    color: #FFF;
    transition: 0.5s all ease;
    box-sizing: border-box;
    border-radius: 10px;
}
.n_f_join:hover{
    color: #00A25B;
    border: #00A25B 2px solid;
    background: #fff;
}
.new_f_icon{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new_f_icon li{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.new_f_icon li p{
    margin-top: 20px;
}
/* 새가족등록 끝 */
/* 예배/설교 페이지 */
.w_content{
    padding: 125px 70px;
    opacity: 0;
}
/* 예배/설교 텍스트*/
.w_content h2{
    width: 100%;
    margin:0 auto 140px;
    text-align: center;
    font-size: 60px;
}
.w_content h2>span{
    font-weight: 500;
    letter-spacing: -1.2px;
    border-bottom: 5px solid #00A25B;
}
.w_content p{
    text-align: right;
    margin-bottom: 20px;
}
.w_content p a{
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 2px solid #00A25B;
}
/* 예배/설교 텍스트 끝*/
/* 예배/설교 컨텐츠*/
.w_c_box{
    display: flex;
    justify-content: space-between;
}
.w_c_box img{
    width: 100%;
    height: 340px;
    font-size: 0;
    line-height: 0;
}
.w_c_box>div{
    width: 600px;
    height: 500px;
    border: 1px solid black;
    box-sizing: border-box;
    line-height: 0;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s all ease 0s ;
}
.w_c_box>div:hover{
    color: #00A25B;
    border: 1px solid #00A25B;
}
/* 예배/설교 컨텐츠*/
/* 예배/설교 박스 텍스트*/
.w_c_title{
    line-height: normal;
    width: 100%;
    height: 160px;
    box-sizing: border-box;
    display: flex;
    padding: 24px 45px;
    justify-content: space-between;
}
.w_c_title>span{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    line-height: 25px;
}
.title_info{
    display: flex;
    flex-flow: row wrap;
}
.title_info span{
    display: flex;
    align-items: flex-end;
    line-height: 25px;

}
.title_info span:nth-of-type(1),
.title_info span:nth-of-type(4){
    font-size: 23px;
    letter-spacing: -0.46px;
    font-weight: 500;
    line-height: 25px;
}
.title_info span:nth-of-type(1)::after,
.title_info span:nth-of-type(4)::after{
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12px;
    width: 1px;
    border-right: 1px solid black;
    margin: 5px;
}
.title_info span:nth-of-type(2),
.title_info span:nth-of-type(5){
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.36px;
    line-height: 25px;
}
.title_info span:nth-of-type(3){
    width: 100%;
    font-size: 30px;
    letter-spacing: -0.6px;
    font-weight: 400;
}
/* 예배/설교 박스 텍스트 끝*/
/* 예배/설교페이지 끝 */
/* 교회소식페이지 */
.news>article{
    padding: 105px 95px; 
}
.news h2{
    text-align: center;
    margin:0 auto 80px;
    letter-spacing: -1.2px;
    font-weight: 500;
    font-size: 60px;
}
.news h2 span{border-bottom: 5px solid #00A25B;}
.news_content_box{
    display: flex;
    justify-content: space-between;
}
.news_content{
    display: flex;
    flex-flow: column;
    justify-content: space-between;}
/* 최신소식,공지사항 */
.notice{
    width: 460px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.6px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
}
.notice li ul{font-size: 18px;}
.notice a>span{
    margin-top: 15px;
    display: inline-block;
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.notice ul li{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    letter-spacing: -0.36px;
    font-weight: 300;
    transition: 0.5s color ease;
}
.notice ul li:hover{
    color: #00A25B;
    border-bottom:1px solid #00A25B;
}
.notice>li:nth-of-type(2){margin-top:30px;}
/* 최신소식,공지사항 끝 */
/* 교회사진 */
.photo{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.photo>span{
    font-size: 30px;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;   
}
.photo ul{
    font-size: 0;
    display: flex;
    flex-flow: row wrap;
    width: 706px;
    height: 587px;
    justify-content: space-between;
    align-content:space-between ;
}
.photo a{
    width: 327px;
    height: 272px;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
}
.photo a img{
    transition: 1s all ease;
    width: 100%;
    height: 100%;
}
.photo a:hover img{
    transform: scale(1.1);
}
/* 교회사진 끝 */
/* 교회소식페이지 끝 */
/* 기도페이지 */
.etc{
    width: 100%;
    background: #2C3D51;   
}
.pray{
    width: 1420px;
    height: 800px;
    margin: 0 auto;
    padding: 140px 120px;
    box-sizing: border-box;
    background: url(../img/unnamed.png) no-repeat left bottom 
}
/* 기도텍스트 */
.pray h3{
    text-align: center;
    color: #FFF;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: -1.2px;
    margin:0 auto 140px;
}
.pray h3 span{border-bottom: 5px solid #00A25B;}
/* 기도텍스트 끝 */
/* 기도 컨텐츠 */
.P_C_box{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 0;
}
.P_C_box a{
    width: 250px;
    height: 250px;   
}
.P_C_box img{
    width: 250px;
    height: 180px;
    border-radius: 20px 20px 0px 0px;
}
.P_C_box p{
    background: #FFF;
    width: 250px;
    height: 70px;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -0.5px;
    transition: 0.7s background-color ease;
}
.P_C_box a:hover{
    animation: bing 1.5s ease-in-out forwards;
}

.P_C_box a:hover p{
    color: #FFF;
    background: #00A25B;
}
/* 기도컨텐츠 끝 */
/* 기도페이지 끝 */
/* 상담페이지 */
.consulting{
    width: 100%;
    background: #fff;
    color: black;
}
.c_content_box{
    margin: 0 auto;
    width: 1420px;
    padding: 100px 122px;
    box-sizing: border-box;
}
/* 상담페이지 텍스트 */
.c_content_box h3{
    display: block;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: -1.2px;
}
.c_content_box h3 span{border-bottom: 5px solid #00A25B;}
.c_content_box>p{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.6px;
    margin: 35px 0 60px;
}
/* 상담페이지 텍스트 끝*/
/* 상담페이지 박스 */
.c_content_box>div{
    justify-content: space-between;
    display: flex;
}
.c_content_box>div a{
    width: 315px;
    height: 70px;
    color: #FFF;
    background: #00A25B;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s  all ease;
    box-sizing: border-box;
    border-radius: 10px;
}
.c_content_box a:hover{
    border: 1px solid #00A25B;
    color: #00A25B;
    background: #fff;
}
/* 상담페이지 박스 끝 */
/* 상담페이지 끝  */
footer{
    width: 100%;
    height: 300px;
    background: #3A4149;
    color: white;}
footer>section{
    width: 1420px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    box-sizing: border-box;
    flex-flow: row wrap;
}
footer article{
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    width: 50%;
}
footer article:last-of-type{
    width: 100%;
}
footer article:last-of-type p{
    margin: 0 auto;
    height: 100%;
}
.footer_left{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.footer_left ul{
    font-size: 18px;
    display:  flex;
    width: 70%;
}
.footer_left ul li{
    display: flex;
    justify-content: space-between;
}
.footer_left ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    line-height: 20px;
}
.footer_left ul li::after{
    content: "";
    display: flex;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    height: 12px;
    width: 1px;
    border-right: 1px solid white;
    margin: 4px 15px;
}
.footer_left ul li:last-of-type:after{
    display: none;
}
address{
    display: flex;
    flex-flow: column;
}
address span{
    margin: 10px 0;
}

.footer_right{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}
.sns{width: 40%;}
.sns>ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.sns>ul li a{
    display: inline-block;
    width: 30px;
    height: 30px;
    transition: .7s background ease 0s;
}
.sns>ul li:nth-of-type(1) a{
    background: url(../img/you_white.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(2) a{
    background: url(../img/insta_white.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(3) a{
    background: url(../img/fa_white.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(4) a{
    background: url(../img/ka_white.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(1) a:hover{
    background: url(../img/you_red.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(2) a:hover{
    background: url(../img/insta_icon.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(3) a:hover{
    background: url(../img/facebook_blue.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(4) a:hover{
    background: url(../img/kakao_yellow.png)
    no-repeat center /contain;
}












.bing{
animation: bing 1.5s ease-in-out forwards;}

.left_to_right {
    opacity: 0;
    animation: left_to_right 1.5s ease-in-out forwards;
  }

  .right_to_left {
    opacity: 0;
    animation: right_to_left 1.5s ease-in-out forwards;
  } 
  .u_to_d {
    opacity: 0;
    animation: u_to_d 1.5s ease-in-out forwards;
  }
@keyframes bing{
    0%{ 
        transform: rotateY(0);
    }
    100%{
        transform: rotateY(360deg);

    }
}
  
  @keyframes left_to_right {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }
  @keyframes right_to_left {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }
  @keyframes u_to_d {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .title_info{
        width: 70%;
    }
    .notice ul li a{
        display: inline-block;
    }
    }