@media all and (min-width:1024px) and (max-width:1440px){
    header>article{
        width: 1000px;
        justify-content: space-around;
        }
    .logo span{
        font-size: 27px;
    }    
    .gnb>li{
        font-size: 23px;
        font-weight: 500;
        letter-spacing: -0.4px;
    } 
    .gnb>li>ul{
        font-size: 20px;
        font-weight: 400;
    }
    section>article{width: 1000px;}
    .banner{
        width: 100%;
        height: 500px;
        position: relative;
        background: url(../img/introduce_banner.png) no-repeat 0 0/cover ;
    }
    .banner article{
        height: 500px;
        position: absolute;
        top:0;
        left: 50%;
        transform: translateX(-50%);
    }

    .lnb li a{
        font-size: 28px;
        height: 60px;
    }
    .introduce_content{
        padding: 110px 0px;
    }
    .greetings{
        justify-content: space-around;
    }

    .greetings>div{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    .greetings img{
        width: 350px;
        height: 450px;
    }
    .greetings h3{
    font-size: 45px;
    margin-bottom: 0;
    }
    .greetings p{
        width: 550px;
        font-size: 25px;
    }
.history{padding: 30px 50px;}
.history h4{font-size: 40px;}
.history h5{    font-size: 30px;}
.ca_list{
    padding: 0 50px;
    flex-flow: column;
}
.ca_list>li{
    width: 100%;
}
.ca_list ul{
    display: flex;
    flex-flow: column;
}
.edu_list li{
    font-size: 23px;
}


footer>section{
    width: 1000px;
    padding: 40px 0px;
}
footer section>article{
    width: 50%;
}
.footer_left ul{
    width: 100%;
}





}