.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -1;
    border: 0;
  }
  .wrap{
    font-family: 'Pretendard';

  }
header{
    height: 70px;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    transition: 1s all ease;
    z-index: 1;
}
header.on{
    background: #fff;
    color: black;
    border-bottom: 1px solid #0000002d;
}
header:hover,header.on:hover{
    background: #fff;
    height: 300px;
    color: black;
}
header>article{
    margin: 0 auto;
    width: 1035px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    display: flex;
    align-items: center;
}
.logo img{
    width: 34px;
    height: 50px;
    margin-right: 15px;
}
.logo span{
    font-family:'Istok We';
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}
.gnb{
    width: 660px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gnb>li{
    font-family: 'Noto Sans KR';
    font-size: 25px;
    font-weight: 500;
    position: relative;
    width: 130px;
}
.gnb>li>ul{
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top:50px
}
.gnb>li>ul>li{
    margin: 20px 0 0;
}
.gnb>li>ul>li a{
    display: block;
    width: 100%;
}
.gnb>li>ul>li:hover{color: #00A25B;}

main{
    font-family: 'Inter';
}
section>article{
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 560px;
    position: relative;
    background: url(../img/worship_banner.png) no-repeat 0 0/cover ;
}
.banner::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);    
} 
.banner article{
    height: 560px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
}
.banner p{
    color: #fff;
    position: absolute;
    top:50%;
    right: 15% ;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1.2px;
    display: flex;
    flex-flow: column;
    transform: translate(0,-50%);
}
.banner p span{
    font-weight: 500;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 0 40px ;
}
.banner p span::before{
    display: inline-block;
    content: "";
    background: url(../img/arrow_white.png) no-repeat center;
    width: 35px;
    height: 35px;
}
.introduce_list{
    width: 100vw;    
}
.lnb{
    display: flex;
    width: 100%;
}
.lnb li{
    width: 100%;
}
.lnb li a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.6px;
    height: 80px;
    width: 100%;
    background: #00A25B;
    color: #fff;
    border-left:1px solid #fff ;
    box-sizing: border-box;
    transition: 0.5s all ease 0s;

}
.lnb li a:hover,.lnb li.on a{
    background: #fff;
    color: #00A25B;
    border: 1px solid #00A25B;
}
.w_s_video{
    padding: 110px 65px;
    display: flex;
    align-items: center;
    flex-flow: column;
}
iframe{
    width:100%;
    height: 750px;
}
.w_s_info{
    width: 100%;
    margin:40px 0 0;
}
.w_s_info>p{
    display: flex;
    justify-content: space-between;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: -0.9px;
}
.w_s_info>p:last-of-type{
    font-size: 35px;
    font-weight: 400;
    justify-content:flex-end;
    margin:10px 0 0;

}

.w_s_info>p span{
    font-size: 20px;
    font-weight: 400;
    
}
.bible{
    display: flex;
    flex-flow: column;
}
.bible p{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.6px;
    display: flex;
    align-items: center;    
    margin: 40px 0 15px;
}
.bible p>span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 0;
    letter-spacing: -0.4px;
    
}
.bible span{
    letter-spacing: -0.6px;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;    
}
.bible span i{
    color: #00A25B;
    font-weight: bold;
    padding-right: 10px;
}

.worship_content{

    padding: 65px 65px 100px;
}
.worship_content>p{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -0.7px;
}
.w_c_box{
    width: 100%;
    overflow: hidden;
    position: relative;

}
.w_list{
    width: 300%;
    display: flex;
   
}
.w_box{
    margin-top: 90px;
    margin-right: 50px;
}
.w_box a{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 290px;
    height: 290px;
    border-radius: 20px;
    background: #00A25B;
    padding: 40px 20px;
    box-sizing: border-box;
    color: #FFF;
    transition: 0.7s all ease 0s ;
}
.w_box:hover a{
    background: #fff;
    border: 1px solid #00A25B;
    color: #00A25B;
}
.w_box p:nth-of-type(1){
    font-size: 23px;
    font-weight: 600;
    letter-spacing: -0.4px;
    
}
.w_box p:nth-of-type(2){
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.4px; 
}
.w_box p:nth-of-type(3){
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.36px;
}
.pagearrow{
    position: absolute;
    display: flex;
    width: 100px;
    height:40px;
    top:0;
    right: 0;
    justify-content: space-between;
}
.pagearrow span{
    box-sizing: border-box;
    border: 1px solid;
    display: block;
    background: #fff url(../img/화살표.png) no-repeat center;
    width: 40px;
}
.pagearrow span:nth-of-type(1){
    transform: rotate(180deg);
}

footer{
    width: 100%;
    height: 300px;
    background: #3A4149;
    color: white;}
footer>section{
    width: 1420px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    box-sizing: border-box;
    flex-flow: row wrap;
}
footer article{
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    width: 50%;
}
footer article:last-of-type{
    width: 100%;
}
footer article:last-of-type p{
    margin: 0 auto;
    height: 100%;
}
.footer_left{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.footer_left ul{
    font-size: 18px;
    display:  flex;
    width: 70%;
}
.footer_left ul li{
    display: flex;
    justify-content: space-between;
}
.footer_left ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    line-height: 20px;
}
.footer_left ul li::after{
    content: "";
    display: flex;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    height: 12px;
    width: 1px;
    border-right: 1px solid white;
    margin: 4px 15px;
}
.footer_left ul li:last-of-type:after{
    display: none;
}
address{
    display: flex;
    flex-flow: column;
}
address span{
    margin: 10px 0;
}

.footer_right{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}
.sns{width: 40%;}
.sns>ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.sns>ul li a{
    display: inline-block;
    width: 30px;
    height: 30px;
    transition: .7s background ease 0s;
}
.sns>ul li:nth-of-type(1) a{
    background: url(../img/you_white.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(2) a{
    background: url(../img/insta_white.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(3) a{
    background: url(../img/fa_white.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(4) a{
    background: url(../img/ka_white.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(1) a:hover{
    background: url(../img/you_red.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(2) a:hover{
    background: url(../img/insta_icon.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(3) a:hover{
    background: url(../img/facebook_blue.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(4) a:hover{
    background: url(../img/kakao_yellow.png)
    no-repeat center /contain;
}
