.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -1;
    border: 0;
  }
header{
    height: 70px;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    transition: 1s all ease;
    z-index: 1;
}
header.on{
    background: #fff;
    color: black;
    border-bottom: 1px solid #0000002d;
}
header:hover,header.on:hover{
    background: #fff;
    height: 300px;
    color: black;
}
header>article{
    margin: 0 auto;
    width: 1035px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    display: flex;
    align-items: center;
}
.logo img{
    width: 34px;
    height: 50px;
    margin-right: 15px;
}
.logo span{
    font-family:'Istok We';
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}
.gnb{
    width: 660px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gnb>li{
    font-family: 'Noto Sans KR';
    font-size: 25px;
    font-weight: 500;
    position: relative;
    width: 130px;
}
.gnb>li>ul{
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top:50px
}
.gnb>li>ul>li{
    margin: 20px 0 0;
}
.gnb>li>ul>li a{
    display: block;
    width: 100%;
}
.gnb>li>ul>li:hover{color: #00A25B;}

main{
    font-family: 'Inter';
}
section>article{
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}
.banner{
    width: 100vw;
    height: 560px;
    position: relative;
    background: url(../img/consulting_banner.png) no-repeat 0 0/cover ;
}
.banner::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);    
} 
.banner article{
    border: 1px solid red;
    height: 560px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
}
.banner p{
    color: #fff;
    position: absolute;
    top:50%;
    right: 15% ;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1.2px;
    display: flex;
    flex-flow: column;
    transform: translate(0,-50%);
}
.banner p span{
    font-weight: 500;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 0 40px ;
}
.banner p span::before{
    display: inline-block;
    content: "";
    background: url(../img/arrow_white.png) no-repeat center;
    width: 35px;
    height: 35px;
}
.news_list{
    width: 100vw;    
}
.lnb{
    display: flex;
    width: 100%;
}
.lnb li{
    width: 100%;
}
.lnb li a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.6px;
    height: 80px;
    width: 100%;
    background: #00A25B;
    color: #fff;
    border-left:1px solid #fff ;
    box-sizing: border-box;
}
.lnb li a:hover,.lnb li.on a{
    background: #fff;
    color: #00A25B;
    border: 1px solid #00A25B;
}
.consulting_content{
    padding: 140px 0;
}
.c_c_box{
    margin: 0 190px ;
}
.c_c_box p{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -1px;
    position: relative;
}
.c_c_box p::before{
    content: "";
    width: 260px;
    height: 21px;
    display: block;
    background: #00A25B;
    position: absolute;   
    z-index: -1;
    bottom: 0;
    left: 5px;
}
.c_c_box span{
    display: inline-block;
    margin: 15px 0 80px;
    font-size: 40px;
    font-weight: 400;
}
.choice{
    display: flex;
    color: #fff;
}
.choice span,.choice label{
    display:flex;
    width: 480px;
    height: 80px;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -0.8px;
    justify-content: center;
    align-items: center;
    background: #2C3D51;
    border: 1px solid #2C3D51;
    box-sizing: border-box;
}
.choice span.on,.choice span:hover
,.choice label.on,.choice label:hover{
    color: black;
    background: #fff;
}
article.choice{
    margin-bottom: 80px;
}
.detail,.attach{
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    width: 1060px;
}
.detail label{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -0.7px;
    margin:40px 0 20px;
}
#name,#phone,#title{
    height: 40px;
    border-radius:10px ;
}
#counseling{
    border-radius: 10px;
    height: 350px;
    resize: none;
    
}
.attach{
    justify-content: center;
    align-items: center;
}
.file_send_box{
    display: flex;
}
.f_s{
    height: 40px;
    border-radius: 10px;
    border: 1px solid #000;
    width: 700px;
    display: block;
}
.send_box{
    background: #00A25B;
    width: 400px;
    height: 80px;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100vw;
    height: 200px;
    background: #3A4149;
}
footer>div{
    border:1px solid red;
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}