.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -1;
    border: 0;
  }
header{
    height: 70px;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    transition: 1s all ease;
    z-index: 1;
}
header.on{
    background: #fff;
    color: black;
    border-bottom: 1px solid #0000002d;
}
header:hover,header.on:hover{
    background: #fff;
    height: 300px;
    color: black;
}
header>article{
    margin: 0 auto;
    width: 1035px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    display: flex;
    align-items: center;
}
.logo img{
    width: 34px;
    height: 50px;
    margin-right: 15px;
}
.logo span{
    font-family:'Istok We';
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}
.gnb{
    width: 660px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gnb>li{
    font-family: 'Noto Sans KR';
    font-size: 25px;
    font-weight: 500;
    position: relative;
    width: 130px;
}
.gnb>li>ul{
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top:50px
}
.gnb>li>ul>li{
    margin: 20px 0 0;
}
.gnb>li>ul>li a{
    display: block;
    width: 100%;
}
.gnb>li>ul>li:hover{color: #00A25B;}

main{
    font-family: 'Inter';
}
section>article{
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}
.banner{
    width: 100vw;
    height: 560px;
    position: relative;
    background: url(../img/consulting_banner.png) no-repeat 0 0/cover ;
}
.banner::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);    
} 
.banner article{
    height: 560px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
}
.banner p{
    color: #fff;
    position: absolute;
    top:50%;
    right: 15% ;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1.2px;
    display: flex;
    flex-flow: column;
    transform: translate(0,-50%);
}
.banner p span{
    font-weight: 500;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 0 40px ;
}
.banner p span::before{
    display: inline-block;
    content: "";
    background: url(../img/arrow_white.png) no-repeat center;
    width: 35px;
    height: 35px;
}
.news_list{
    width: 100%;    
}
.lnb{
    display: flex;
    width: 100%;
}
.lnb li{
    width: 100%;
}
.lnb li a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.6px;
    height: 80px;
    width: 100%;
    background: #00A25B;
    color: #fff;
    border-left:1px solid #fff ;
    box-sizing: border-box;
}
.lnb li a:hover,.lnb li.on a{
    background: #fff;
    color: #00A25B;
    border: 1px solid #00A25B;
}
.consulting_content{
    padding: 140px 0;
}
.c_c_box{
    margin: 0 190px ;
}
.c_c_box p span{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -1px;
    position: relative;
    display: inline-block;
}
.c_c_box p span::before{
    content: "";
    width: 100%;
    height: 21px;
    display: block;
    background: #00A25B;
    position: absolute;   
    z-index: -1;
    bottom: 0;
    left: 5px;
}
.c_c_box div>span{
    display: inline-block;
    margin: 15px 0 80px;
    font-size: 40px;
    font-weight: 400;
}
.choice{
    display: flex;
    color: #fff;
}
.choice span,.choice label{
    display:flex;
    width: 480px;
    height: 80px;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -0.8px;
    justify-content: center;
    align-items: center;
    background: #2C3D51;
    border: 1px solid #2C3D51;
    box-sizing: border-box;
}
.choice span.on,.choice span:hover
,.choice label.on,.choice label:hover{
    color: black;
    background: #fff;
}
article.choice{
    margin-bottom: 80px;
}
.detail,.attach{
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    width: 1060px;
}
.detail label{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -0.7px;
    margin:40px 0 20px;
}
#name,#phone,#title{
    height: 40px;
    border-radius:10px ;
    padding: 0 10px;
}
#counseling{
    border-radius: 10px;
    height: 350px;
    resize: none;
    border: 1px solid black;
    padding: 10px;
}
.attach{
    justify-content: center;
}
.attach>p{
    width: 100%;
    margin-top: 80px;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -0.8px;
    
}
.attach p:nth-of-type(2){
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -0.7px;
    margin: 40px 0 20px;
}

.file_send_box{
    display: flex;
}
.f_s{
    height: 40px;
    width: 700px;
    border-radius: 10px;
    border: 1px solid #000;
    cursor: pointer;

}
.f_textbox{
    cursor: pointer;
    height: 40px;
    width: 165px;
    background: #2C3D51;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.6px;
    margin: 0 15px;
}
.file_send_box p{
    height: 40px;
    width: 165px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.6px;
}

#send{
    margin: 0 auto;
    background: #00A25B;
    width: 400px;
    height: 80px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Privacy{
    text-align: center;   
    margin: 70px 0 50px; 
}
.Privacy a{
    display: inline-block;
    margin-left: 10px;
}
footer{
    width: 100%;
    height: 300px;
    background: #3A4149;
    color: white;}
footer>section{
    width: 1420px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    box-sizing: border-box;
    flex-flow: row wrap;
}
footer article{
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    width: 50%;
}
footer article:last-of-type{
    width: 100%;
}
footer article:last-of-type p{
    margin: 0 auto;
    height: 100%;
}
.footer_left{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.footer_left ul{
    font-size: 18px;
    display:  flex;
    width: 80%;
}
.footer_left ul li{
    display: flex;
    justify-content: space-between;
}
.footer_left ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    line-height: 20px;
}
.footer_left ul li::after{
    content: "";
    display: flex;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    height: 12px;
    width: 1px;
    border-right: 1px solid white;
    margin: 4px 15px;
}
.footer_left ul li:last-of-type:after{
    display: none;
}
address{
    display: flex;
    flex-flow: column;
}
address span{
    margin: 10px 0;
}

.footer_right{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}
.sns{width: 40%;}
.sns>ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.sns>ul li a{
    display: inline-block;
    width: 30px;
    height: 30px;
    transition: .7s background ease 0s;
}
.sns>ul li:nth-of-type(1) a{
    background: url(../img/you_white.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(2) a{
    background: url(../img/insta_white.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(3) a{
    background: url(../img/fa_white.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(4) a{
    background: url(../img/ka_white.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(1) a:hover{
    background: url(../img/you_red.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(2) a:hover{
    background: url(../img/insta_icon.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(3) a:hover{
    background: url(../img/facebook_blue.png)
    no-repeat center /contain;
}
.sns>ul li:nth-of-type(4) a:hover{
    background: url(../img/kakao_yellow.png)
    no-repeat center /contain;
}



.bing{
    animation: bing 1.5s ease-in-out forwards;}
    
    .left_to_right {
        opacity: 0;
        animation: left_to_right 1.5s ease-in-out forwards;
      }
    
      .right_to_left {
        opacity: 0;
        animation: right_to_left 1.5s ease-in-out forwards;
      } 
      .u_to_d {
        opacity: 0;
        animation: u_to_d 1.5s ease-in-out forwards;
      }
    @keyframes bing{
        0%{ 
            transform: rotateY(0);
        }
        100%{
            transform: rotateY(360deg);
    
        }
    }
      
      @keyframes left_to_right {
        from {
          opacity: 0;
          transform: translateX(-100px);
        }
        to {
          opacity: 1;
          transform: translatex(0);
        }
      }
      @keyframes right_to_left {
        from {
          opacity: 0;
          transform: translateX(100px);
        }
        to {
          opacity: 1;
          transform: translatex(0);
        }
      }
      @keyframes u_to_d {
        from {
          opacity: 0;
          transform: translateY(100px);
        }
        to {
          opacity: 1;
          transform: translatex(0);
        }
      }
    