@media all and (min-width:480px) and (max-width:767px){
    .wrap{
        font-family: 'Pretendard';
    }
    header{height: 70px;} 
    header>article{
    width: 100%;
    justify-content: space-between;
    padding: 0px 20px;
    box-sizing: border-box;
    }
    header:hover{
        height: 70px;
        background: none;
        color: #fff;
    }
    header.on:hover{
        height: 70px;
        color: black;
        background: white;
    }
    .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .gnb{
        display: none;
    }
    header.active .gnb{
        top:0;
        left: 0;
        display: flex;
        flex-flow: column;
        position:fixed;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: white;
        overflow: auto;
        justify-content: center;
        align-items: center;
        color: black;
    }
    .gnb>li{
        position: relative;
        font-size: 40px;
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: 1s height ease 0s;
        height: 80px;
        font-weight: 500;
        letter-spacing: -0.4px;
    }
    .gnb>li>a{
        padding: 20px 0;
        height: 100%;
    }
    .menu{
        display: block;
    }
    header.active .gnb>li.on{
        height: 320px;
    }
    header.active .gnb>li>ul{
        margin-top: 40px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    header .menu span{
        width: 40px;
        height: 40px;
        border: none;
    }
    header .menu span:nth-of-type(1){
        background: url(../img/hamburger_white.svg)
        no-repeat center/cover;
        display: block;
    }
    header.on .menu span:nth-of-type(1){
        background: url(../img/hamburger.svg)
        no-repeat center/cover;
    }
    header.active .menu span:nth-of-type(1){display: none;}
    header .menu span:nth-of-type(2){display: none;}
    header.active .menu span:nth-of-type(2){
        background: url(../img/close.svg)no-repeat center/cover;
        position: absolute;
        right: 20px;
        top:20px;
        z-index: 10;
        display: block;
    }

    .news_list{
        position: relative;
    }
    .news_list::after{
        content: "";
        background:url(../img/화살표.png) no-repeat center;        
        position: absolute;
        width: 50px;
        height: 50px;
        top:50%;
        right: 0;
        transition: 1s transform ease 0s;
        transform: rotate(90deg);
    }
    .rotate.new_list::after{
        transform: rotate(-90deg);
    }

    .lnb {
        position: absolute;
        display: flex;
        width: 100%;
        flex-flow: column;
        height: 50px;

    }
    .lnb.active{
        height: 250px;
    }
    .lnb li a{
        opacity: 0;
        font-size: 20px;
        height: 0px;
        transition: 0.4s all ease 0s;
    }
    .lnb li.on a{
        opacity: 1;
        font-size: 20px;
        height: 45px;
    }
    .lnb:hover li a{
        height: 45px;
        opacity: 1;

    }
    .logo span{
        font-size: 27px;
    }    
   
    .gnb>li>ul{
        font-size: 20px;
        font-weight: 400;
    }
    section>article{width: 460px;}
    .banner{
        width: 100%;
        height: 500px;
        position: relative;
        background: url(../img/consulting_banner.png) no-repeat 0 0/cover ;
    }
    .banner article{
        height: 500px;
        position: absolute;
        top:0;
        left: 50%;
        transform: translateX(-50%);
    }
    .banner p{font-size: 30px;}
    .banner p span{font-size: 25px;}
   
    .c_c_box{

        margin: 0;
    }
    .c_c_box p span{
        font-size: 30px;
        z-index: -1;
    }
.c_c_box div>p{ 
    font-size: 35px;
    display: block;
    width: 100%;
    text-align: center;
    
}
.c_c_box div>span{
    font-size: 25px;
    width: 100%;
    text-align: center;
    margin:20px 0 50px;
}
.c_c_box p span::before{
    height: 12px;
}
.choice span,.choice label{
    width: 100%;
    height: 60px;
    font-size: 25px;
}
article.choice{margin-bottom: 40px;}
.detail,.attach{width: 450px;}
.detail label{
    margin-top: 20px;
    font-size: 20px;}
.attach>p{font-size: 25px;}
.attach p:nth-of-type(2){
    font-size: 20px;
    margin-top: 20px;
}
.f_textbox{
    font-size: 15px;
    margin: 0 5px;
}

#counseling{
    height: 250px;
}
.file_send_box p{
    font-size: 15px;
}
#send{
    font-size: 23px;
    width: 250px;
    height: 60px;
}
.Privacy{
    margin: 30px 0;
}


footer{width: 100%;
    height: 400px;
}
footer .logo{justify-content: center;}
footer>section{
    width: 450px;
    padding: 40px 0;
    height: 400px;
}
.footer_left{
    display: block;
    justify-content: flex-start;
    height: 50%;
}
.footer_left ul{
    width: 100%;
    justify-content: center;
    margin: 10px 0;
}
address span{
    text-align: center;
    margin: 10px 0;
}
.footer_right{
    width: 100%;
    height: 50px;

}
.sns{
    display: flex;
    width: 100%;
    align-items: center;        
}
footer article:last-of-type p{
    display: flex;
    justify-content: center;
    align-items: center;
}







}