@media all and (min-width:480px) and (max-width:767px) {   
    /* 헤더 */
header>div{width: 100%;}
header:hover{height: 90px;background: none;color:#FFF}
header.active.on{background: #fff;    color: black;
    border-bottom: 1px solid #0000002d;}
header.on:hover{height: 90px;color: black;background:white;}
header.full .gnb{
    top:0;
    left: 0;
    display: flex;
    flex-flow: column;
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: white;
    overflow: auto;
    justify-content: center;
    align-items: center;
    color: black;
}
/* 헤더로고 */
.logo img{margin-right: 15px;}
.logo span{font-size:27px;margin-left:0;}
/* 헤더로고 끝 */
/* 메인메뉴 */
.gnb{display: none;}
.gnb>li{
    position: relative;
    font-size: 40px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 1s height ease 0s;
    height: 60px;
}
.gnb>li+li{margin-left: 0px;}
.gnb>li>a{height: 100%; padding: 20px 0; display: flex;}
.menu{display: block;}
header.full .gnb>li.on{    height: 290px;}
header.full .gnb>li>ul{
    margin-top: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
header .menu{background: url(../img/hamburger_white.svg)no-repeat center/cover; display: block;}
header.on .menu{background: url(../img/hamburger.svg) no-repeat center/cover;}
header.full .menu{
    background: url(../img/close.svg)no-repeat center/cover;
    position: absolute;
    right: 20px;
    top:20px;
    z-index: 10;
    display: block;
}
header .menu{display: block;cursor: pointer;width: 40px;height: 40px;border: none;}
/* 메인메뉴 끝 */
/* 헤더끝 */

/* 배너시작 */
.banner{width: 100%;height: 600px;  background-size:767px 600px;}
.banner article{left: 40%;    width: 350px;}
/* 배너필터처리 */
/* 배너 글꾸미기 */
.b_writing1{    width: 270px;    height: 90px;}
.b_writing1::before{    width: 20px;}
.b_writing1::after{    height: 20px;}
.b_writing1 p{    width: 285px;    font-size: 35px;}
/*배너 글꾸미기 끝 */
/* 소개페이지 */
/* 소개텍스트 */
.introduce{    width: 450px;   padding: 100px 0 }
.int_box h3{font-size: 30px; text-align: center;}
.int_box>p{text-align: center;font-size: 20px; width: 400px;margin: 40px auto 20px;}
/* 간편메뉴 */
.int_box{    margin-bottom: 80px;}
.int_box ul{ margin: 0 auto; width: 450px;  flex-flow: row wrap;}
.int_box ul li{margin: 15px;}
.int_box ul li+li{    margin-left: 15px;}
.circle a{font-size: 20px;}
.circle>a::before{    width: 110px;    height: 110px;}
.circle a::after{    width: 110px;    height: 110px; }
ul li.circle:first-of-type>a::before{background-size:70px;}
/* 간편메뉴 끝 */
/* 소개텍스트 끝 */
/* 새가족등록 */
.new_f_box{flex-flow: column;align-items: center;}
.n_f_text h4{font-size: 25px;text-align: center;}
.n_f_text p{font-size: 20px;margin: 40px 0 20px;}
.n_f_join{width: 200px;font-size: 20px;height: 50px;}
.new_f_icon{flex-flow:wrap;margin-top: 20px;}
.new_f_icon li{margin:20px;}
.new_f_icon li::after{display: none;}
.new_f_icon li+li{margin-left: 20px;}
.new_f_icon li p{ font-size: 18px;}
/* 새가족등록 끝 */
/* 예배/설교 페이지 */
.worship{width: 450px;padding:50px 0px 100px;}
/* 예배/설교 텍스트*/
.w_content h2{margin:0 auto 40px;   font-size: 35px;}
/* 예배/설교 텍스트 끝*/
/* 예배/설교 컨텐츠*/
.w_c_box a{    width:450px;    height: 400px;}
.w_c_box a img{    width: 450px;    height: 250px;}
/* 예배/설교 컨텐츠*/
/* 예배/설교 박스 텍스트*/
.w_c_left{display: none;}
.w_c_title{width: 450px; padding: 30px;}
.title_info{font-size: 18px; ;}
.title_info .w_bedge{font-size: 16px;width: 60px;height: 25px;  letter-spacing: 2px;}
.w_t{font-size: 23px;}
.w_bible{font-size: 16px;}
/* 예배/설교 박스 텍스트 끝*/
/* 예배/설교페이지 끝 */
/* 교회소식페이지 */
.news>article{width: 450px;padding: 50px 0 0px; margin: 0 auto;}
.news h2{    margin:0 auto 40px;    font-size: 40px;}
.news_content_box{flex-flow: column;justify-content: center;}
.news_content{width: 450px;}
.notice{margin:0 auto;flex-flow: column;align-items: center;}
.notice ul{width: 450px;}
.notice>li{font-size: 25px; width: 450px;}
.notice>li+li{margin-top: 50px;}
.notice>li::before{width: 30px;height: 30px;}
/* 최신소식,공지사항 */
/* 최신소식,공지사항 끝 */
/* 교회사진 */
.photo{width: 450px; margin-top: 50px;}
.photo>p{font-size: 25px;}
.photo>p::before{width: 30px;    height: 30px;}
.photo ul {    flex-flow: row wrap;}
.photo ul li+li{margin-left: 30px;}
.photo ul li{margin: 30px;}
/* 교회사진 끝 */
/* 교회소식페이지 끝 */
/* 기도페이지 */
.pray{    width: 450px;    padding:  50px 0px;}
.pray h3{    font-size: 30px;    margin:0 auto 40px;}
.P_C_box{    flex-flow: row wrap; justify-content: center;  }
.P_C_box a+a{    margin-top: 10px;}
.P_C_box a{flex-flow:column;width:200px;height:200px;margin:10px;}
.P_C_box a p{ font-size: 23px;  margin-bottom: 0;}
.P_C_box a span{display: none;}
.p_1 img,.p_2 img,.p_3 img,.p_4 img{width: 200px; height: 150px;} 
.p_1 div,.p_2 div,.p_3 div,.p_4 div{width: 200px; height: 50px;padding: 10px;}
/* 상담페이지 */
.c_content_box{display: flex;flex-flow: column;align-items: center;width:450px;padding:50px 0 100px;}
/* 상담페이지 텍스트 */
.c_content_box h3{    font-size: 30px;}
.c_content_box>p{ font-size: 20px; margin: 40px 0 20px;}
/* 상담페이지 텍스트 끝*/
/* 상담페이지 박스 */
.c_content_box>div{height: 100%;align-items:flex-end;flex-flow: column;}
.c_content_box a+a{margin-left: 0;margin-top: 35px;}
.c_content_box>div a{padding:20px 30px;width:220px;height:70px;    font-size: 20px;}
.c_content_box a::after{ top: 10px; left: 30px; width: 50px; height: 50px; background-size: 50px 50px;}
.c_content_box a:hover::after{ background-size: 50px;} 
/* 상담페이지 박스 끝 */
/* 상담페이지 끝  */
footer{width: 100%; height: 400px;}
footer .logo{ margin: 0}
footer .logo a{ width: 100%;justify-content: center;}
footer>section{width: 450px;padding: 40px 0;height: 400px;}
.footer_left{width: 100%;    height: 50%;}
.footer_left ul{ width:100%;justify-content:center;margin: 10px 0;}
address span{text-align: center;  margin: 10px 0;}
.footer_right{    width: 100%;    height: 50px;}
.sns{display: flex; width: 100%; align-items: center;  }
footer article:last-of-type p{ display: flex;justify-content: center;align-items: center;}





.bing{animation: bing 1.5s ease-in-out forwards;}
.left_to_right {opacity: 0;animation: left_to_right 1.5s ease-in-out forwards;}
.right_to_left {opacity: 0;animation: right_to_left 1.5s ease-in-out forwards;} 
.u_to_d {opacity:0;animation: u_to_d 1.5s ease-in-out forwards;}

  @keyframes bing{
    0%{ 
        transform: translateX(0px);
    }
    50%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes last{
    0%{ 
        transform: translateY(0px);
    }
    25%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .title_info{
        width: 70%;
    }
    .notice ul li a{
        display: inline-block;
    }
    }
}