@media all and (min-width:480px) and (max-width:767px) {   

/* 헤더시작 */
header>div{    width:100%;}
header:hover{height: 90px;background: none;color:#FFF}
header.active.on{    background: #fff;    color: black;
    border-bottom: 1px solid #0000002d;}
header.on:hover{height: 90px;color: black;background:white;}
header.full .gnb{
    top:0;
    left: 0;
    display: flex;
    flex-flow: column;
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: white;
    overflow: auto;
    justify-content: center;
    align-items: center;
    color: black;
}
/* 헤더로고 */

.logo a{    display: flex;    align-items: center;}
.logo img{ width: 34px;    height: 50px;    margin-right: 15px;}
.logo span{font-size:30px;font-weight: 700;font-style: normal;}
.logo{margin-right: 70px;}
/* 헤더로고 끝 */
/* 메인메뉴 */

.gnb>li+li{margin-left: 35px;}
.gnb{    display: none;}
.gnb>li{
    position: relative;
    font-size: 40px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 1s height ease 0s;
    height: 70px;
}
.gnb>li+li{margin-left: 0px;}
.gnb>li>a{height: 100%; padding: 20px 0; display: flex;}
.menu{display: block;}
header.full .gnb>li.on{    height: 290px;}
header.full .gnb>li>ul{
    margin-top: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
header .menu{background: url(../img/hamburger_white.svg)no-repeat center/cover; display: block;}
header.on .menu{background: url(../img/hamburger.svg) no-repeat center/cover;}
header.full .menu{
    background: url(../img/close.svg)no-repeat center/cover;
    position: absolute;
    right: 20px;
    top:20px;
    z-index: 10;
    display: block;
}
header .menu{display: block;cursor: pointer;width: 40px;height: 40px;border: none;}
/* 메인메뉴 끝 */
/* 헤더 끝 */
/* 배너시작 */
.banner p{font-size:35px;}
.banner span{    font-size: 30px;}
/* 배너끝 */
.submenu_list{width: 100%;background-color:#0e4194;position:relative;}
.lnb{  position: absolute;top:0;left:0;;width: 100%;display: flex;box-sizing: border-box;height:50px;flex-flow:column;z-index:1;background:#0e4194;transition: .5s all ease 0s;}
.submenu_list button{
  background:url(../img/화살표.png) no-repeat center;        
  position: absolute;
  width: 50px;
  height: 50px;
  top:0;
  right: 0;
  transition: .5s transform ease 0s;
  transform: rotate(90deg);
  z-index: 2;
  display: block;
  border: 0;
  cursor: pointer;
}
.submenu_list button.rotate{  transform: rotate(-90deg);}
.lnb.active{  height: 250px;}
.lnb>li{width: 100%;display: flex;justify-content: center;align-items: center;height:0;color: white;font-size: 25px;letter-spacing: 3px;font-weight: 500;opacity: 0;  transition: .5s all ease 0s;}
.lnb>li.on{  opacity: 1;  height: 50px;}
.lnb.active>li{  height: 50px;  opacity: 1;}
.lnb>li.on{    background: #FFF;    color: #0e4194;}
/* 서브메뉴 끝 */
/* 메인소개 */
.worship_service{    width: 100%;}
.w_s_video{ width: 460px;  padding: 130px 0 50px;}
.w_s_video iframe{width: 460px; height: 280px;}
.w_s_info{    width: 460px;}
.info_title{font-size: 25px; }
.bible p{    font-size: 20px;    margin-bottom: 20px;}
.bible p span{font-size: 18px; color: black;}
.bible>span{display: flex;flex-flow: column;font-size: 15px;  }
.bible span i{display: flex ; align-items: center;font-size: 18px;color: #00A25B;margin-right: 0px; margin-bottom: 5px;}
.bible>span+span{margin-top: 15px;}
.name{   font-size: 25px;  margin-top: 30px;}
.worship_content{width: 460px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 65px 0 100px;
}

.worship_content>p{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.7px;
}
.w_c_box{
    width: 100%;
    overflow: hidden;
    position: relative;

}
.w_list{
    width: 3470px;
    display: flex;
    transition: 1s ease all 0s;
   
}
.w_box{
    margin-top: 90px;
    margin-right: 60px;
}
.w_box a{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background:linear-gradient(0deg, #1d8558 0%,#0cdb81 100%);
    padding: 20px 13px;
    box-sizing: border-box;
    color: #FFF;
    transition: 1s all ease 0s ;
}
.w_box:hover a{
    background:linear-gradient(0deg, #1d8558 100%,white 0%);
    border: 1px solid #00A25B;
}
.w_box p:nth-of-type(1){
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.4px;
    
}
.w_box p:nth-of-type(2){
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.4px; 
}
.w_box p:nth-of-type(3){
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.36px;
}
.pagearrow{
    position: absolute;
    display: flex;
    width: 100px;
    height:40px;
    top:0;
    right: 0;
    justify-content: space-between;
}
.pagearrow button{
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid;
    display: block;
    background: #fff url(../img/화살표.png) no-repeat center;
    width: 40px;
}
.pagearrow button:nth-of-type(1){
    transform: rotate(180deg);
}







footer{width: 100%; height: 400px;}
footer .logo{ margin: 0}
footer .logo a{ width: 100%;justify-content: center;}
footer>section{width: 450px;padding: 40px 0;height: 400px;}
.footer_left{width: 100%;    height: 50%;}
.footer_left ul{ width:100%;justify-content:center;margin: 10px 0;}
address span{text-align: center;  margin: 10px 0;}
.footer_right{    width: 100%;    height: 50px;}
.sns{display: flex; width: 100%; align-items: center;  }
footer article:last-of-type p{ display: flex;justify-content: center;align-items: center;}



.bing{animation: bing 1.5s ease-in-out forwards;}
.left_to_right {opacity: 1;animation: left_to_right 1.5s ease-in-out forwards;}
.right_to_left {opacity: 1;animation: right_to_left 1.5s ease-in-out forwards;} 
.u_to_d {opacity:0;animation: u_to_d 1.5s ease-in-out forwards;}
.d_to_u {opacity:0;animation: d_to_u 1.5s ease-in-out forwards;}




@keyframes bing{
    0%{ 
        transform: translateX(0px);
    }
    50%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}



@keyframes bing2{
    33%{ 
        background: url(../img/문의.png) no-repeat top 20px left 30px ;
        background-size: 100px 100px;
    }
    66%{
        background: url(../img/문의.png) no-repeat bottom 20px left 30px ;
        background-size: 100px 100px;
    }
    100%{
        background: url(../img/문의.png) no-repeat center left 30px;
background-size: 100px 100px;
    }
}

@keyframes u_d{
    33%{ 
        background: url(../img/heart.png) no-repeat top 30px left 30px ;
        background-size: 80px 80px;
    }
    66%{
        background: url(../img/heart.png) no-repeat bottom 30px left 30px ;
        background-size: 80px 80px;
    }
    100%{
        background: url(../img/heart.png) no-repeat center left 30px;
        background-size: 80px 80px;
    }
}

@keyframes house{
    33%{ 
        background: url(../img/house.png) no-repeat top 30px left 30px ;
        background-size: 100px 100px;
    }
    66%{
        background: url(../img/house.png) no-repeat bottom 30px left 30px ;
        background-size: 100px 100px;
    }
    100%{
        background: url(../img/house.png) no-repeat center left 30px;
        background-size: 100px 100px;
    }
}

  
@keyframes left_to_right {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }
  @keyframes right_to_left {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }
  @keyframes u_to_d {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }
  @keyframes d_to_u {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }

}
