@media all and (min-width:1024px) and (max-width:1440px)
{
/* 헤더시작 */
header>div{    width: 100%;}
.logo{margin-right: 70px;}
.gnb>li+li{margin-left: 35px;}
/* 헤더 끝 */
section{width: 100%;}
/* 배너시작 */
.banner p{font-size:40px;}
.banner span{    font-size: 35px;}
/* 배너끝 */
.submenu_list{    width: 100%;    background-color: #0e4194;}
.lnb{width: 900px;}

/* 서브메뉴 끝 */
/* 메인소개 */
.worship_service{    width: 100%;}
.w_s_video{width: 1000px;    padding: 150px 0px 50px;}
.w_s_video iframe{width: 1000px; height: 550px;}
.w_s_info{    width: 1000px;}
.info_title{    font-size: 37px;}
.worship_content{    width: 1000px;    padding: 65px 0 100px;}
.worship_content>p{  font-size: 35px;
    font-weight: 700;
    letter-spacing: -0.7px;
}
.w_list{
    width: 2550px;
    display: flex;
    transition: 1s ease all 0s;
   
}
.w_box{
    margin-top: 90px;
    margin-right: 25px;
}
.w_box a{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 230px;
    height: 230px;
    border-radius: 20px;
    background:linear-gradient(0deg, #1d8558 0%,#0cdb81 100%);
    padding: 40px 20px;
    box-sizing: border-box;
    color: #FFF;
    transition: 1s all ease 0s ;
}
.w_box:hover a{
    background:linear-gradient(0deg, #1d8558 100%,white 0%);
    border: 1px solid #00A25B;
}
.w_box p:nth-of-type(1){
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.4px;
    
}
.w_box p:nth-of-type(2){
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.4px; 
}
.w_box p:nth-of-type(3){
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.36px;
}

.pagearrow{
    position: absolute;
    display: flex;
    width: 100px;
    height:40px;
    top:0;
    right: 0;
    justify-content: space-between;
}
.pagearrow button{
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid;
    display: block;
    background: #fff url(../img/화살표.png) no-repeat center;
    width: 40px;
}
.pagearrow button:nth-of-type(1){
    transform: rotate(180deg);
}
footer>section{width: 1000px;padding: 40px 20px;}
footer section>article{ width: 50%;}
.footer_left ul{    width: 100%;}


.bing{animation: bing 1.5s ease-in-out forwards;}
.left_to_right {opacity: 1;animation: left_to_right 1.5s ease-in-out forwards;}
.right_to_left {opacity: 1;animation: right_to_left 1.5s ease-in-out forwards;} 
.u_to_d {opacity:0;animation: u_to_d 1.5s ease-in-out forwards;}
.d_to_u {opacity:0;animation: d_to_u 1.5s ease-in-out forwards;}




@keyframes bing{
    0%{ 
        transform: translateX(0px);
    }
    50%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}



@keyframes bing2{
    33%{ 
        background: url(../img/문의.png) no-repeat top 20px left 30px ;
        background-size: 100px 100px;
    }
    66%{
        background: url(../img/문의.png) no-repeat bottom 20px left 30px ;
        background-size: 100px 100px;
    }
    100%{
        background: url(../img/문의.png) no-repeat center left 30px;
background-size: 100px 100px;
    }
}

@keyframes u_d{
    33%{ 
        background: url(../img/heart.png) no-repeat top 30px left 30px ;
        background-size: 80px 80px;
    }
    66%{
        background: url(../img/heart.png) no-repeat bottom 30px left 30px ;
        background-size: 80px 80px;
    }
    100%{
        background: url(../img/heart.png) no-repeat center left 30px;
        background-size: 80px 80px;
    }
}

@keyframes house{
    33%{ 
        background: url(../img/house.png) no-repeat top 30px left 30px ;
        background-size: 100px 100px;
    }
    66%{
        background: url(../img/house.png) no-repeat bottom 30px left 30px ;
        background-size: 100px 100px;
    }
    100%{
        background: url(../img/house.png) no-repeat center left 30px;
        background-size: 100px 100px;
    }
}

  
@keyframes left_to_right {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }
  @keyframes right_to_left {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }
  @keyframes u_to_d {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }
  @keyframes d_to_u {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }

}
