@media all and (min-width:1024px) and (max-width:1440px)
{
/* 헤더시작 */
header>div{    width: 100%;}
.logo{margin-right: 70px;}
.gnb>li+li{margin-left: 35px;}
/* 헤더 끝 */
section{width: 100%;}
/* 배너시작 */
.banner p{font-size:40px;}
.banner span{    font-size: 35px;}
/* 배너끝 */
.submenu_list{    width: 100%;    background-color: #0e4194;}
.lnb{width: 900px;}

/* 서브메뉴 끝 */
/* 메인소개 */
.consulting{    width: 100%;}
.consulting_content{    width: 1000px;    padding: 150px 0 50px;}
.c_c_box p span{   font-size: 45px;}
.c_c_box>span{    font-size: 35px;    margin: 20px 0 60px;}
form{  padding: 60px 40px;
box-sizing: border-box;}
.choice{
    justify-content: center;
    margin-bottom: 30px;
}
.choice label{
    display:flex;
    width: 230px;
    height: 70px;
    font-size: 30px;
}

.detail,.attach{
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    width: 100%;
}
.detail label{
    font-size: 25px;
    letter-spacing: -0.7px;
    margin:40px 0 20px;
    font-weight: bold;
}
#name,#phone,#title{
    height: 40px;
    border-radius:10px ;
    padding: 0 10px;
    font-size: 23px;
    font-weight: normal;
}
#counseling{
    border-radius: 10px;
    height: 300px;
    resize: none;
    border: 1px solid black;
    padding: 10px;
    font-size: 23px;
}
.attach>p{
    width: 100%;
    margin-top: 80px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.8px;
}
.attach p:nth-of-type(2){
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -0.7px;
    margin: 40px 0 20px;
}

.file_send_box{
    display: flex;
}
.f_s{
    height: 40px;
    width: 700px;
    border-radius: 10px;
    border: 1px solid #000;
    cursor: pointer;
    background: #FFF;
    color: #000;
    font-size: 20px;
    padding:0 10px ;
}
.f_textbox{
    cursor: pointer;
    height: 40px;
    width: 165px;
    background:#0e4194;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.6px;
    margin: 0 15px;
    border-radius: 10px;
}
.file_send_box p{
    height: 40px;
    width: 165px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.6px;
    border-radius: 10px;
    }

#send{
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    background: linear-gradient(0deg, #1d8558 0%,#0cdb81 100%);
    width: 300px;
    height: 70px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Privacy{
    text-align: center;   
    margin: 70px 0 50px; 
}
.Privacy a{
    display: inline-block;
    margin-left: 10px;
}

footer>section{width: 1000px;padding: 40px 20px;}
footer section>article{ width: 50%;}
.footer_left ul{    width: 100%;}


.bing{animation: bing 1.5s ease-in-out forwards;}
.left_to_right {opacity: 1;animation: left_to_right 1.5s ease-in-out forwards;}
.right_to_left {opacity: 1;animation: right_to_left 1.5s ease-in-out forwards;} 
.u_to_d {opacity:0;animation: u_to_d 1.5s ease-in-out forwards;}
.d_to_u {opacity:0;animation: d_to_u 1.5s ease-in-out forwards;}




@keyframes bing{
    0%{ 
        transform: translateX(0px);
    }
    50%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}



@keyframes bing2{
    33%{ 
        background: url(../img/문의.png) no-repeat top 20px left 30px ;
        background-size: 100px 100px;
    }
    66%{
        background: url(../img/문의.png) no-repeat bottom 20px left 30px ;
        background-size: 100px 100px;
    }
    100%{
        background: url(../img/문의.png) no-repeat center left 30px;
background-size: 100px 100px;
    }
}

@keyframes u_d{
    33%{ 
        background: url(../img/heart.png) no-repeat top 30px left 30px ;
        background-size: 80px 80px;
    }
    66%{
        background: url(../img/heart.png) no-repeat bottom 30px left 30px ;
        background-size: 80px 80px;
    }
    100%{
        background: url(../img/heart.png) no-repeat center left 30px;
        background-size: 80px 80px;
    }
}

@keyframes house{
    33%{ 
        background: url(../img/house.png) no-repeat top 30px left 30px ;
        background-size: 100px 100px;
    }
    66%{
        background: url(../img/house.png) no-repeat bottom 30px left 30px ;
        background-size: 100px 100px;
    }
    100%{
        background: url(../img/house.png) no-repeat center left 30px;
        background-size: 100px 100px;
    }
}

  
@keyframes left_to_right {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }
  @keyframes right_to_left {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }
  @keyframes u_to_d {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }
  @keyframes d_to_u {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }

}
